# Environment Variables
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test

# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/build/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local files
*.local

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?